* {
    box-sizing: border-box;
    font-family: Palatino;
    margin: 0;
    padding: 0;
}

body {
    background-color: #7E9E78;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #6A8B64;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #6A8B64;
}

.container {
  margin-top: 4vh;
  border-radius: 5px;
  background-color: #7E9E78;
  padding: 20px;
}