* {
  box-sizing: border-box;
  color: white;
  font-family: Palatino;
  margin: 0;
  padding: 0;
}

body {
  background-color: #7E9E78;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: relative;
  top: 0;
  padding: 4px;
  background: #7E9E78;
  border-bottom: 3pt solid white;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6A8B64;
}

.logo img {
  max-width: 12.5%;
  height: auto;
}


.contacts {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 14px;
  transition: 0.5s ease;
}

.contacts a {              
  color: #ffffff;
  float: left;
  text-decoration: none;
  font-size: 2vw;
  transition: 0.6s ease;
  padding: 10px;
  margin: 14px;
  z-index: 1;
}

.fa { 
  padding: 1em; 
  text-decoration: none;
  color: #ffffff;
}  

.fa:hover {
  color: #6A8B64;
}

.navbar {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: #7E9E78;
  justify-content: center;
  align-items: center;
  border-bottom: 3pt solid white;
  z-index: 1;
}

.navbar a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2vw;
  transition: 0.6s ease;
}

.navbar a:hover {
  background-color: #6A8B64;
  color: white;
}

/*.navbar a.active {
  background-color: #6A8B64;
  color: white;
}*/

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 120px;
}

.maincontent {
  position: relative;
  background: url(images/salvia_3.png) center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.testimonial {
  color: #ffffff;
  font-family: Palatino;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 50%;
  font-size: 3vw;
  padding: 14px;
  transform: translate(-50%,-50%);
  /*background-color: #7E9E78;*/
}

.pages {
  background-color: #7E9E78; 
}

#main {
  transition: .5s ease;
  padding: 16px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1vw;
  color: #ffffff;
  font-family: Palatino;
  text-align: center;
  background: #6A8B64;
  /*background: #7E9E78;*/
  border-top: 3pt solid white;
}

.footer h1{
  font-size: 2.5vw;
}

.footer p{
  font-size: 1.5vw;
}

.hide {
  display: none;

}

@media screen and (max-height: 450px) {
}

@media screen and (max-width: 768px) {
  .logo img {
    max-width: 25%;
    height: auto;
  }

  .contacts a{
    font-size: 5vw;
    padding: 4px;
    margin: 4px;
  }

  .navbar a {
    font-size: 5vw;
  } 

  .maincontent {
    position: relative;
    background: url(images/salvia.png) no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .testimonial {
    width: 100%;
    top: 25%;
    font-size: 6vw;
    background-color: transparent;
  }

  .footer h1{
    font-size: 5vw;
  }
  
  .footer p{
    font-size: 3vw;
  }
  
}