* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #7E9E78;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .row {
    position: relative;
    top: 50%;
    margin-bottom: 9vh;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
   
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"] {
    float: left;
    align-items: center;
    justify-content: center;
    padding: 15px;
    bottom: 10%;
  }

  [class*="col-"] img {
    vertical-align: middle;
    width: 100%;
  }

  .container {
    position: relative;
    display: flex;
    text-align: center;
    color: white;
    border: 3pt solid white;
  }

  a span {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 12px;
    padding-right: 12px;
    font-family: Palatino;
    font-size: 3vw;
    text-decoration: none;
    background-color: #7E9E78;
  }

  .centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Palatino;
    font-size: 3vw;
    text-decoration: none;
    background-color: #7E9E78;
    padding: 12px;
  }

  .bottom {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Palatino;
    font-size: 2vw;
    text-decoration: none;
    background-color: #7E9E78;
  }

  @media screen and (max-width: 768px) {

    .col-4{
      width: 100%;
    }

    .container {
      position: relative;
      display: flex;
      text-align: center;
      color: white;
      border: 3pt solid white;
      padding: 20px;
      margin-top: 30px;
    }
    
    a span {
      font-size: 6vw;
    }

    .bottom {
      font-size: 4vw;
    }

  }